#forgot-email-address-container{

}

#forgot-email-address-icon{
  height: 35px;
  width: 35px;
}

#forgot-email-input{
  width: 35px;
  background-color: #1900ff;
}

#forgot-bottom-container{
  height: 65px;
}

#forgot-button-container{
  height: 65px;
}

#forgot-send-code-button{
  height: 65px;
}

#forgot-cancel-button{
  height: 65px;
}
