<div id="botto-holder-container" class="m-0 p-0 h-100" style="position: relative;">
  <div class="col-12 m-0 p-0 h-100" style="position: absolute; background-color: red;">
    <!-- ENTER CODE EMAIL -->
    <div id="send-code-email-container"
         class="d-flex flex-column col-12 m-0 p-0 h-100 col-12 m-0 p-0">
      <div id="gap-container" class="col m-0 p-0 h-100">
      </div>
      <div id="code-forms" class="">
        <div class="input-group col">
          <div class="input-group-prepend">
            <span id="form-icon" class="input-group-text">@</span>
          </div>
          <input id="code" type="text" class="form-control" placeholder="Enter Code"
                 aria-label="Code"
                 aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="bottom-holder-container" class="container-fluid d-flex flex-row m-0 p-0"
     style="position: relative;">
  <div id="enter-code-option-container" class="col-12 container-fluid d-flex m-0 p-0">
    <button class="col-10 d-flex justify-content-center" id="enter-code-option-enter-code-button">ENTER
      CODE</button>
    <button class="col-2 d-flex justify-content-center" id="enter-code-option-cancel-button">X</button>
  </div>
</div>
