<div id="botto-holder-container" class="m-0 p-0 h-100" style="position: relative;">
  <div class="col-12 m-0 p-0 h-100" style="position: absolute; background-color: red;">
    <div id="chat-messages-container"
         class="d-flex flex-column col-12 m-0 p-0 h-100 col-12 m-0 p-0">
      <ul id="chat-messages-list-group" class="list-group col m-0 p-0 h-100">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
</div>
<div id="bottom-holder-container" class="container-fluid d-flex flex-row m-0 p-0"
     style="position: relative;">
  <div id="send-message-container" class="input-group col-12 container-fluid d-flex m-0 p-0">
    <div class="input-group-prepend m-0 p-0"><span class="input-group-text m-0 p-0"> <button
      id="send-message-send-button" class="col-12 d-flex justify-content-center h-100"
      id="send-message-button">SEND</button></span>
    </div>
    <textarea id="send-message-text-area" class="form-control m-0 p-0" aria-label="With textarea"
              style="resize: none;"></textarea>
  </div>
</div>
